/*body,
 table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }*/
    header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bg-img.jpg);
    height: 200vh;
    background-size: cover;
    background-position: center;
}
    ul
{
    float: left;
    list-style: none;
    margin-top: 25px;
}

ul li
{
    display: inline-block;
}

ul li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: sans-serif;
    font-size: 15px;
    border: 1px solid white;
    transition: 0.6s ease;
}

ul li a:hover
{
    background-color: white;
    color: #000;
}

ul li.activ a{
    background-color: white;
    color: #000;
}
.title{
    color: aliceblue;
}
.hero
{
    color: white;
    font-size: 16px;
}

body{
	text-align: center !important;
}
p{
	margin-top: 20px;
	font-size: 30px;
}
input{
	text-align: center;
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}