<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/buy a game.css">
</head>
<body>
    <header>
        <div class="banner">
            <ul>
                <li class="active"><a href="home.html">Home</a></li>
                <li><a href="how to play.html">How to play?</a></li>
                <li><a href="game menu.html">Game Menu</a></li>
                <li><a href="#">Buy a game</a></li>
            </ul>
        </div>

        <div class="title">
            <p>Would you like to buy the original game?<br>Please choose a site to buy:</p>
        </div>

        <div class="button">
            <a href="https://www.ebay.com/sch/i.html?_nkw=rat-a-tat+cat+game&ul_noapp=true&mkevt=1&siteid=1&mkcid=2&mkrid=711-153320-877673-6&source_name=google&mktype=dsa&campaignid=1491385424&groupid=102229198293&crlp=441594241591&keyword=&targeted=dsa-903809781974&MT_ID=b&adpos=&device=c&googleloc=1008008&geo_id=100&gclid=CjwKCAjwtpGGBhBJEiwAyRZX2v2RbHSLkEBDej0tkrS1dUXmIXMQnFN-AXZzkULXn9D7Eh6TwCRXihoCNqwQAvD_BwE" target="_blank"><img src="ebay.png" height="70px" width="100px"></img></a>
            <a href="https://www.amazon.com/Gamewright-SS-GMW-204-Rat-A-Tat-Cat/dp/B00000GBQJ" target="_blank"><img src="amazon.png" height="70px" width="100px"></img></a>
            <a href="https://www.walmart.com/ip/Rat-a-tat-cat/25396291" target="_blank"><img src="walmart.jpg" height="70px" width="100px"></img></a>
        </div>

    </header>
    
</body>
</html>