<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/how to play.css">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li class="active"><a href="home.html">Home</a></li>
                <li><a href="how to play.html">How to play?</a></li>
                <li><a href="game menu.html">Game Menu</a></li>
                <li><a href="buy a game.html">Buy a game</a></li>
            </ul>
        </div>

    <div class="hero">
    <h1>how to play?</h1><hr>
    <p><p1 style="background-color: rgb(240, 23, 70);">Game Objective:</p1> have the fewest points at the end of the game. <br><br>
        <p1 style="background-color: rgb(8, 214, 52);">Points</p1> = the total of all cards that the person has at the end of the round. 
         Therefore, players try to get rid of high value cards and gain low ones. 
        Since cards are left face down, <p2>memory</p2> is a very important part of this game.<br>
        
        On a player's turn, he or she takes a card. This can either be the <p1 style="border-bottom: 2px solid white">top card of the discard pile</p1> (so long as it is not a "power card"), <p2>or</p2> the <p1 style="border-bottom: 2px solid white">top card of the draw pile.</p1><br> 
        Anyone who takes a card from the discard pile uses it to replace one of his or her face down cards, and puts that card on the discard pile. <br>
        If a player draws a number card from the draw pile, they may either use it to replace one of the face-down cards, or place the drawn card directly in the discard pile.<br>
                
         If the draw pile is exhausted, the discard pile is reshuffled and placed face down.<br>
        <p2 style="border-bottom: 2px solid white">Power cards</p2> may only be used when they are drawn from the draw pile. They may not be taken from the discard pile, and are useless if found in the hand. After use, they are placed in the discard pile. <br>
        If a power card is taken from the draw pile, it has the following effect:<br>
         - If a <p1 style="background-color: rgb(8, 214, 52);">"Peek"</p1> card is drawn, the player may immediately look at one of his /her face down cards.<br>
         - If a <p1 style="background-color: rgb(8, 214, 52);">"Swap"</p1> is drawn, the player may switch one of his cards with one of another player's cards. However, the player may not look at either card until receiving a peek card. If the player does not want to swap, he or she does not have to.<br>
         - A player drawing a <p1 style="background-color: rgb(8, 214, 52);">"Draw 2"</p1> card then draws another card from the pile, and may use this card as if it were a normal turn. However, if it is a number card and is discarded, or if it is a power card and the player decides not to use it, the player then picks another card from the pile, and plays that as if it were a normal turn.<br>
        At the <p1 style="border-bottom: 2px solid white">end of</p1> a player's <p1 style="border-bottom: 2px solid white">turn</p1>, he or she may choose to end the round by saying "rat-a-tat-cat". All other players get <p2>one more turn</p2>, and then everyone counts up their points. Any power cards are placed at the bottom of the deck and replaced with the top card.<br>
        
         At the beginning of the game, the players decide how to win. They may either play for an agreed length of time or number of rounds, with the person with the fewest points at the end being the winner, or the game may be played such that when a player exceeds a certain points total, they are eliminated, with the last surviving player winning the game.
        
    </p>
    </div>  

        <div class="button">
            <a href="home.html" class="btn btn-one">Go to home page</a>
        </div>
    </header>

</body>
</html>